* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-size: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-image: url('/img/backgrounds/mountains1.jpg');
  background-size: 100%;
  color: rgb(4, 16, 48);
}

.app-container {
  text-align: center;
}

.app-inlinebox {
  display: inline-block;
}

.app-flexbox {
  display: flex;
  flex-direction: column;
}

.app-error {
  font-size: 1.5em;
  margin-top: 50px;
  max-width: 768px;
}

.clock-container {
  display: block;
  margin-top: 20px;
}

.clock-day {
  font-size: 2.5em;
}

.clock-hour {
  font-size: 7.5em;
}

.search-input {
  font-size: 2em;
  margin: 4px;
  padding: 4px;
  border: 1px solid rgb(4, 16, 48);
  border-radius: 4px;
}

.search-button {
  font-size: 2em;
  margin: 4px;
  padding: 4px;
  border: 1px solid rgb(4, 16, 48);
  border-radius: 4px;
  cursor: pointer;
}

.weather-flexbox-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.weather-flexbox-header {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  justify-content: space-around;
}

.weather-flexbox-left {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  justify-content: space-around;
  align-items: center;
}

.weather-flexbox-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.weather-flexbox-footer {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  justify-content: space-around;
}

.weather-spinner-container {
  display: inline-block;
  margin-top: 30px;
}

.location-inlinebox {
  display: inline-block;
}

.location-flexbox {
  display: flex;
  flex-direction: row;
}

.location-city {
  font-size: 1.5em;
  margin-right: 16px;
}

.location-flag {
  height: 16px;
}

.condition-inlinebox {
  display: inline-block;
}

.condition-flexbox {
  display: flex;
  flex-direction: row;
}

.condition-icon {
  margin-right: 8px;
}

.condition-description {
  line-height: 50px;
}

.measurement-container {
  display: block;
}

.measurement-inlinebox {
  display: inline-block;
}

.measurement-flexbox {
  display: flex;
  flex-direction: row;
}

.measurement-icon {
  height: 30px;
  margin-right: 8px;
}

.measurement-value {
  line-height: 30px;
  font-size: 1.25em;
}

.update-inlinebox {
  display: inline-block;
  margin-top: 30px;
}

.update-flexbox {
  display: flex;
  flex-direction: column;
}

.update-description {
  font-size: 0.8em;
}

.update-icon {
  height: 100px;
  margin-top: -20px;
  cursor: pointer;
}
