* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100vw;
  height: 100vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(205, 235, 255);
  color: rgb(4, 16, 48);
}

body {
  font-size: 80%;
}

@media screen and (min-width: 512px) {
  body {
    font-size: 100%;
  }
}

@media screen and (min-width: 1024px) {
  body {
    background-image: url('https://images.unsplash.com/photo-1464822759023-fed622ff2c3b');
    background-size: 100%;
  }
}
